@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Columns Style Sheet
    Author: G Dibba
   Date: 11/24/2024 

   Filename:         dlr_columns.css

*/

@media only screen and (min-width: 641px) {
}

/* Column Styles */

