/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Positioning Styles for the pc_info.html file
        Author: G Dibba
        Date: 11/23/2024    
   
   Filename: pc_info.css

*/

div.infobox {
	display: none;
}

/* Main Styles */

main {
	overflow: auto;
	position: relative;
	height: 450px;
	width: 100%;
}



/* Infographic Styles */



/* First Infographic */



/* Second Infographic */



/* Third Infographic */



/* Fourth Infographic */



/* Fifth Infographic */



/* Sixth Infographic */



/* Seventh Infographic */



/* Eighth Infographic */



